<div class="head">
    <p class="title">Actividad 1</p>
</div>
<div class="border">
</div>

<mat-card class="blue-border-card">
    <div class="card-container">
        <mat-card class="main-card">
            <h2>Nivel 1</h2>
        </mat-card>
        <svg width="140" height="100">
            <line x1="20" y1="50" x2="130" y2="50" stroke="black" stroke-width="2" />
            <line x1="130" y1="50" x2="130" y2="25" stroke="black" stroke-width="2" />
            <line x1="130" y1="25" x2="150" y2="25" stroke="black" stroke-width="2" />
            <line x1="130" y1="50" x2="130" y2="75" stroke="black" stroke-width="2" />
            <line x1="130" y1="75" x2="150" y2="75" stroke="black" stroke-width="2" />

        </svg>

        <div class="accordion-container">
            <mat-accordion style="padding: 10px">
                <mat-expansion-panel class="accordion-main">
                    <mat-expansion-panel-header class="sub-accordion">
                        <mat-panel-title>Nivel 1.1</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p style="padding: 20px;">Explicación del nivel 1.1</p>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion style="padding: 10px;">
                <mat-expansion-panel class="accordion-main">
                    <mat-expansion-panel-header class="sub-accordion">
                        <mat-panel-title>Nivel 1.2</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p style="padding: 20px;">Explicación del nivel 1.2</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</mat-card>